html,
body,
div#root {
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  background-color: #eaeaea;
  margin: 0;
}

div.root {
  height: 100%;
  width: 100%;
}

section.header {
  width: 100%;
  position: fixed;
  min-height: 90px;
  background-color: #c0d6df;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.subreddit-name {
  margin: 0;
  top: 50%;
  color: #4f6d7a;
}

section.mainContent {
  overflow: auto;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 1%;
}

iframe {
  position: unset !important;
}